<div class="container mt-5">
  <%= link_to "retour", restaurants_path, class: "btn btn-primary"  %>

  <h1><%= @restaurant.name %> show</h1>

  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.category %></p>

  <div class="d-flex">
    <div style="width: 50%">
      <h2>Reviews</h2>
      <% @restaurant.reviews.each do |review| %>
        <div class="d-flex">
          <p class="me-4">Note: <%= review.rating %>/5</p>  
          <p><%= review.content %></p>
        </div>
      <% end %>  
    </div>
    <div style="width: 50%">
      <h2>Add a review</h2>
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: 0..5, as: :select %>
        <%= f.input :content %>
        <%= f.submit "submit review", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>